@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

footer {
    border-top: 1px solid black;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav > a {
    padding-right: 15px;
}

footer p {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
}

.left-f a {
    text-decoration: none;
    color: black;
}

.left-f a:visited {
    text-decoration: none;
}
.left-f a:hover {
    text-decoration: none;
}
.left-f a:focus {
    text-decoration: none;
}
.left-f a:hover,
a:active {
    text-decoration: none;
}

.left-f .site {
    font-size: 11px;
    font-weight: bold;
}
.center-f .phone-num {
    font-size: 11px;
    font-weight: bold;
    margin-right: 124px;
}

.right-f {
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.right-f .time {
    font-size: 11px;
    font-weight: bold;
}

.right-f .lunch-time {
    font-size: 11px;
    font-weight: bold;
}
