html {
    overflow: hidden;
}

html,
body {
    width: 100%;
}

main {
    margin-top: 220px;
}

.fadeIn,
.fadeIn2 {
    display: none;
}

.fadeIn2 {
    margin-bottom: 210px;
}

#center {
    background-color: black;
    /* width: 1500px; */
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center h2 {
    color: white;
    font-size: 50px;
}

.hideme {
    opacity: 0;
    width: 100%;
    height: 500px;
    margin-top: 445px;
    position: relative;
}

.hideme .me_1 {
    opacity: 0;
    position: absolute;
    top: -45px;
    left: 10px;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.hideme .me_2 {
    opacity: 0;
    position: absolute;
    right: 10px;
    bottom: -45px;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.hideme2 {
    margin-bottom: 240px;
    opacity: 0;
    width: 100%;
    height: 500px;
    margin-top: 435px;
    position: relative;
    background: black;
}

.hideme2 .me_3 {
    top: 20px;
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: bold;
    left: 20px;
}

.hideme2 .me_4 {
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: bold;
    right: 20px;
    bottom: 20px;
}

.fadeIn2 .text {
    /* width: 1500px; */
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeIn2 .text .me_5 {
    color: black;
    font-size: 40px;
    font-weight: bold;
}
